<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
 _______ _______ _______ _______ _______ _____   _______ 
|   |   |   _   |     __|   |   |_     _|     |_|   _   |
|       |       |    |  |   |   |_|   |_|       |       |
|__|_|__|___|___|_______|_______|_______|_______|___|___|

-->

<html xmlns="http://www.w3.org/1999/xhtml"
	xml:lang="$Lang" lang="$Lang">

<head>

<title>$WikiTitle : $WikiSubTitle | $Group / $Title | $Action</title>

<meta http-equiv="content-type" 
	content="text/html; charset=$Charset" />

<meta name="skin" content="Maguila" />
<meta name="author" content="CarlosAB" />
<meta name="generator" content="$Version" />

<link rel="stylesheet" type="text/css" href="$SkinDirUrl/maguila.css" />

<!--[if lt IE 5.5000]>
<link rel="stylesheet" type="text/css" href="$SkinDirUrl/ie50.css" />
<![endif]-->

<!--[if IE 5.5000]>
<link rel="stylesheet" type="text/css" href="$SkinDirUrl/ie55.css" />
<![endif]-->

<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="$SkinDirUrl/ie60.css" />
<![endif]-->

<!--[if gt IE 6]>
<link rel="stylesheet" type="text/css" href="$SkinDirUrl/ie70.css" />
<![endif]-->

<!--HTMLHeader-->

<link rel="shortcut icon" href="$SkinDirUrl/favicon.ico" />
<link rel="icon" href="$SkinDirUrl/favicon.ico" />

</head>

<body>

<div id="wiki-wrap">

<!--PageHeadFmt-->
<div id="wiki-head">
<h1>$WikiSkinTitle</h1>
<h2>$WikiSubTitle</h2>
<!--PageSearchFmt-->
<!--markup:(:searchbox size=13 label=$[Go] value=$[Search] focus=true:)-->
<!--/PageSearchFmt-->
</div>
<!--/PageHeadFmt-->

<!--PageActionFmt-->
<div id="wiki-action">
<!--wiki:{$SiteGroup}.ActionBar-->
</div>
<!--/PageActionFmt-->

<div id="grid-wrap">
<div id="grid-inner">

<div id="grid-main">
<div id="wiki-main">
<!--PageText-->
<br clear=all />
</div>
</div>

<!--PageLeftFmt-->
<div id="grid-left">
<div id="wiki-left">
<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
</div>
</div>
<!--/PageLeftFmt-->

<!--PageRightFmt-->
<div id="grid-right">
<div id="wiki-right">
<!--wiki:{$Group}.RightSideBar {$SiteGroup}.RightSideBar-->
</div>
</div>
<!--/PageRightFmt-->

</div>
</div>

<!--PageFootFmt-->
<div id="wiki-foot">
<!--wiki:{$SiteGroup}.FootBar-->
</div>
<!--/PageFootFmt-->

</div>

<!--HTMLFooter-->

</body>

</html>
