<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$WikiTitle {$Group}/{$Titlespaced}</title>
	<link rel='stylesheet' href='$SkinDirUrl/style.css' type='text/css' />
	<link rel='stylesheet' href='$SkinDirUrl/color-$SkinColor/color.css' type='text/css' />
	<!--HTMLHeader-->
</head>

<body>
	<div id="page">
		<div id="header">
			<!--PageHeaderFmt-->
			<div id="headerimg">
				<!--wiki:{$Group}.SiteHeader {$SiteGroup}.SiteHeader {$SiteGroup}.{$SkinName}-SiteHeader-->
			</div>

			<div id="nav">
				<!--wiki:{$Group}.SiteNav {$SiteGroup}.SiteNav {$SiteGroup}.{$SkinName}-SiteNav-->
			</div>
			<!--/PageHeaderFmt-->
		</div>

		<div id="content">
			<div id="pagelead">
				<div class="pageheader">
					<!--PageTitleFmt-->
					<a href='{$ScriptUrl}/{$Group}/{$DefaultName}' class='pagegroup'>{$Group}</a>
					<h1><a href='{$PageUrl}'>{$Titlespaced}</a></h1>
					<!--/PageTitleFmt-->
				</div>

				<div class="pageactions">
					<!--PageActionFmt-->
					<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
					<!--/PageActionFmt-->
				</div>
			</div>

			<!--PageText-->
		</div>

		<div id="sidebar">
			<!--PageSearchFmt-->
			<form id="searchform" action='$ScriptUrl' method="post">
			<fieldset>
				<input class="hidden" type='hidden' name='n' value='{$FullName}' />
				<input class="hidden" type='hidden' name='action' value='search' />
				<input id="searchfield" type='text' name='q' value='' />
				<input id="searchbutton" type='submit' name="searchbutton" value='$[Search]' />
			</fieldset>
			</form>
			<!--/PageSearchFmt-->

			<!--PageRightFmt-->
			<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar {$SiteGroup}.{$SkinName}-SideBar-->
			<!--/PageRightFmt-->
		</div>

		<div id="footer">
			<!--PageFooterFmt-->
			<!--wiki:{$Group}.SiteFooter {$SiteGroup}.SiteFooter {$SiteGroup}.{$SkinName}-SiteFooter-->
			<!--/PageFooterFmt-->
			<hr class="clear" />
		</div>

	</div>

	<div id="credits">
		<div class="alignleft">
			<a style="color:#7A9299;" href="http://www.ndesign-studio.com/resources/wp-themes/glossyblue/" rel="nofollow">GlossyBlue</a> theme adapted by <a href="http://solidgone.org/Skins/">David Gilbert</a>
		</div>
		<div class="alignright">
			Powered by <a href="http://pmwiki.com/">PmWiki</a>
		</div>
	</div>

</body>
</html>
